#header{
    color: #fff;
    background-image: url(/img/milky-way-g2bb4e2a59_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .logo{

        img{
            border-radius: 50%;
        }
    }
    .logo-azer{
        img{
            border-radius: 50%;
        }
    }
    img{
        height: 100px;
        object-fit: contain;
    }
    .btn-reset{
        margin-right: 10px;
    }
}
#analysis{
    margin-top: 5rem;
}